.experienceWrapper {
    background-color: var(--primary-color);
    padding-left: 10vw;
    height: 100vh;
    line-height: var(--primary-line-height);
}

.experienceWrapper h1 {
    margin: 0;
    color: var(--text-primary-color);
}

.experienceContent .company {
    color: var(--text-primary-color);
}

.experienceContent .company span {
    color: var(--experience-span-color);
}

.experienceContent .date {
    color: var(--text-secondary-color);
}

.experienceContent .details {
    color: var(--text-secondary-color);
    width: 50vw;
}

@media (max-width: 900px) {
    .experienceContent {
        width: 80vw;
    }
    .experienceContent .details {
        width: 80vw;
    }
}