.footerWrapper {
    background-color: var(--primary-color);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
}

.footerWrapper p {
    color: var(--text-secondary-color);
    margin: 0;
}