.projectsWrapper {
    background-color: var(--primary-color);
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectsWrapper h1 {
    margin: 0;
    color: var(--text-primary-color);
}

.projects {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vh;
}

.project {
    background-color: var(--projects-box-primary-color);
    border-radius: 10px;
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    transition: transform 0.2s ease-in-out;
}

.project:hover {
    transform: scale(1.1);
}

.project .projectHeading {
    color: var(--text-primary-color);
    font-size: 1.3em;
    margin: 0;
}

.project .description {
    color: var(--text-secondary-color);
}

.project .techStack {
    color: var(--text-secondary-color);
    margin: 0;
    font-style: italic;
}

.project a {
    color: var(--projects-span-color);
    margin-top: 2vh;
    font-style: italic;
    text-decoration: none;
}

.project span {
    color: var(--projects-span-color);
    margin-top: 2vh;
    font-style: italic;
}

.projectsWrapper .more {
    margin-top: 10vh;
    color: var(--text-secondary-color);
}

.projectsWrapper .more a {
    color: var(--projects-span-color);
    text-decoration: none;
}

@media (max-width: 900px) {
    .projects {
        grid-template-columns: 1fr;
    }

    .project {
        width: 75vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5vw;
        transition: transform 0.2s ease-in-out;
    }
}